services:
  api:
    build: ./server
    container_name: rerendet_api
    ports:
      - "5001:5000"
    env_file:
      - ./server/.env
    environment:
      - PORT=5000
      - NODE_ENV=production
    restart: unless-stopped

  client:
    build: ./client
    container_name: rerendet_client
    ports:
      - "3000:80"
    depends_on:
      - api
    restart: unless-stopped
