.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-10vh) translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateY(110vh) translateX(20px);
        opacity: 0.3;
    }
}

/* Randomize snowflakes */
.snowflake:nth-child(1) {
    left: 1%;
    animation-duration: 10s;
    animation-delay: 0s;
}

.snowflake:nth-child(2) {
    left: 10%;
    animation-duration: 12s;
    animation-delay: 1s;
    font-size: 1.2em;
}

.snowflake:nth-child(3) {
    left: 20%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.snowflake:nth-child(4) {
    left: 30%;
    animation-duration: 15s;
    animation-delay: 0.5s;
    font-size: 0.8em;
}

.snowflake:nth-child(5) {
    left: 40%;
    animation-duration: 11s;
    animation-delay: 3s;
}

.snowflake:nth-child(6) {
    left: 50%;
    animation-duration: 13s;
    animation-delay: 1.5s;
    font-size: 1.5em;
}

.snowflake:nth-child(7) {
    left: 60%;
    animation-duration: 9s;
    animation-delay: 4s;
}

.snowflake:nth-child(8) {
    left: 70%;
    animation-duration: 14s;
    animation-delay: 2.5s;
    font-size: 0.9em;
}

.snowflake:nth-child(9) {
    left: 80%;
    animation-duration: 10s;
    animation-delay: 5s;
}

.snowflake:nth-child(10) {
    left: 90%;
    animation-duration: 12s;
    animation-delay: 0s;
    font-size: 1.1em;
}

/* Add more variability for up to 50 flakes with SCSS loop logic typically, but hardcoding a few groups for brevity or using nth-child(2n) etc */
.snowflake:nth-child(odd) {
    animation-duration: 14s;
}

.snowflake:nth-child(even) {
    animation-duration: 9s;
}

.snowflake:nth-child(3n) {
    animation-duration: 11s;
    font-size: 0.7em;
    opacity: 0.8;
}

.snowflake:nth-child(5n) {
    animation-duration: 16s;
    font-size: 1.3em;
}

.snowflake:nth-child(7n) {
    animation-delay: 2s;
    opacity: 0.6;
}